.header{
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.400), #28b485), url(../images/hero.jpg);
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    &__logo-box{
        position: absolute;
        top:4rem;
        left: 4rem;
        img{
            height: 35px;
        }
    }
    &__text-box{
        margin: 0;
        position: absolute;
        top: 40%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        text-align: center;
       
    }
}
