.btn{
    &:link{
        display: inline-block;
        border-radius: 100px;
        text-decoration: none;
        text-transform: uppercase;
        padding:15px 40px;
        position: relative;
        transition: all 0.3s;
    }
    &:hover{
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        &::after{
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    &:active{
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
    
    &::after{
        content:'';
         display: inline-block;
         height: 100%;
         width: 100%;
         border-radius: 100px;
         position: absolute;
         top:0;
         left: 0;
         z-index: -1;
         transition: all 0.4s;

        }
        &--white{
            background-color: #fff;
            color:#777;

            &::after{
                background-color: #fff;
            }
        }
        &--animated{
            animation: MoveInBottom 0.5s ease-out 0.75s;
            animation-fill-mode: backwards;
        }
}
.btn-text{

    &:link{
        display: inline-block;
        text-decoration: none;
        font-size: 1.6rem;
        display: inline-block;
        border-bottom: 1px solid $color_primary;
        color:$color_primary;
        padding: 3px;

    }
    &:hover{
        background-color: $color_primary;
        color:$color_white;
        box-shadow: 0 1rem 2rem rgba($color_black, 0.6);
        transform: translateY(-3px);
    }
    &:active{
        transform: translateY(0);
        box-shadow: 0 0.5rem 1rem rgba($color_black, 0.6);
    }
}