.composition {
  position: relative;

  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color_black, 0.4);
    border-radius: 2px;
    position: absolute;
    outline-offset: 2rem;
    transition: all 7s;

    &--p1 {
      left: 0;
      top: -2rem;
    }

    &--p2 {
      right: 0;
      top: 2rem;
    }

    &--p3 {
      left: 20%;
      top: 10rem;
    }

    &:hover {
      transform: scale(1.5) translateY(-0.5rem);
      box-shadow: 0 2rem 4rem rgba($color_black, 0.4);
      outline: 5px solid $color_primary;
      z-index: 99999;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.5);
  }
}
